body{
    background: #333;
    color: #fff;
}
.navbar{
    border-bottom: #008edb 1px solid ;
    opacity: 0.8;
}
#home-ection{
    background: url(img/cover.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 900px;
}
.dark-overly{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 900px;
}
.home-inner{
    padding-top: 150px;
}
.card-form{
    opacity: 0.8;
}
.fa{
    color: #008edb;
    border-radius: 5px;
    background-color: #fff;
    font-size: 30px;
}

#explore-section .fa{
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}

#create-section .fa{
    color: #008edb;
    border-radius: 5px;
    background-color: #fff;
    font-size: 30px;
}

#share-section .fa{
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px;
}